#layer_profile {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #0063b2;
    overflow: hidden;
    transition: background-color 3s;
}

header {
    position: absolute;
    width: 100%;
    height: 65px;
    z-index: 10;
}

header ul {
    list-style-type: none;
    float: right;
    margin-top: 30px;
    margin-right: 50px;
    transition: all 0.5s;
}

header ul li {
    display: inline-block;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    font-family: customFont;
    font-weight: 900;
    font-size: 25px;
    transition: all 1s ease;
}

header ul li a:hover {
    background-color: white;
    color: black;
}

/* header p {
    float: left;
    margin-top: 10px;
    margin-left: 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 60px;
    font-weight: 300;
    color: white;
} */

.profileHeader {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: absolute;
    z-index: 1;
    /* position: relative; */
    padding: 80px 0 0 0;
}
.profileHeader__title {
    color: #fff;
    font-size: 58px;
    font-family: customFont;
    font-weight: 550;
    margin: 0;
}
.profileHeader__subtitle {
    color: rgba(255, 255, 255, .5);
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
}

.lightButton {
    background-color: white;
    color: black;
}

.btn_nav {
    cursor: pointer;
}

#leftArrow {
    position: absolute;
    top: 50%;
    color: white;
    z-index: 10;
    left: 2%;
    transform: translateY(-50%);
}

#rightArrow {
    position: absolute;
    top: 50%;
    color: white;
    z-index: 10;
    right: 2%;
    transform: translateY(-50%);
}

.arrow {
    transition: all 0.5s;
    cursor: pointer;
}

.arrow:hover {
    transform: scale(1.2);
}

#logo {
    position: absolute;
    top: 0;
    left: 2%;
    float: left;
    z-index: -1;
    transition: all 0.5s;
}

#logo img {
    height: 65px;
}

.menu {
    -webkit-filter: url("#shadowed-goo");
            filter: url("#shadowed-goo");
  }
  
  .menu-item, .menu-open-button {
    background: #ffc107;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin-left: -40px;
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    text-align: center;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
  }
  
  .menu-open {
    display: none;
  }
  
  .hamburger {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
  }
  
  .hamburger-1 {
    -webkit-transform: translate3d(0, -8px, 0);
            transform: translate3d(0, -8px, 0);
  }
  
  .hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  
  .hamburger-3 {
    -webkit-transform: translate3d(0, 8px, 0);
            transform: translate3d(0, 8px, 0);
  }
  
  .menu-open:checked + .menu-open-button .hamburger-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  .menu-open:checked + .menu-open-button .hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
            transform: translate3d(0, 0, 0) scale(0.1, 1);
  }
  .menu-open:checked + .menu-open-button .hamburger-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
            transform: translate3d(0, 0, 0) rotate(-45deg);
  }
  
  .menu {
    position: absolute;
    right:0;
    margin-left: -80px;
    padding-top: 20px;
    padding-left: 80px;
    width: 650px;
    height: 150px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }
  
  .menu-item:hover {
    background: white;
    color: #ffc107;
  }
  .menu-item:nth-child(3) {
    -webkit-transition-duration: 180ms;
            transition-duration: 180ms;
  }
  .menu-item:nth-child(4) {
    -webkit-transition-duration: 180ms;
            transition-duration: 180ms;
  }
  .menu-item:nth-child(5) {
    -webkit-transition-duration: 180ms;
            transition-duration: 180ms;
  }
  .menu-item:nth-child(6) {
    -webkit-transition-duration: 180ms;
            transition-duration: 180ms;
  }
  
  .menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
            transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
  }
  
  .menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
            transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  }
  
  .menu-open:checked + .menu-open-button {
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
            transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  }
  
  .menu-open:checked ~ .menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
            transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .menu-open:checked ~ .menu-item:nth-child(3) {
    -webkit-transition-duration: 170ms;
            transition-duration: 170ms;
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  .menu-open:checked ~ .menu-item:nth-child(4) {
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transform: translate3d(-180px, 0, 0);
            transform: translate3d(-180px, 0, 0);
  }
  .menu-open:checked ~ .menu-item:nth-child(5) {
    -webkit-transition-duration: 330ms;
            transition-duration: 330ms;
    -webkit-transform: translate3d(-270px, 0, 0);
            transform: translate3d(-270px, 0, 0);
  }
  .menu-open:checked ~ .menu-item:nth-child(6) {
    -webkit-transition-duration: 410ms;
            transition-duration: 410ms;
    -webkit-transform: translate3d(-360px, 0, 0);
            transform: translate3d(-360px, 0, 0);
  }
  .menu-open:checked ~ .menu-item:nth-child(7) {
    -webkit-transition-duration: 330ms;
            transition-duration: 330ms;
    -webkit-transform: translate3d(-450px, 0, 0);
            transform: translate3d(-450px, 0, 0);
  }
  .menu-open:checked ~ .menu-item:nth-child(8) {
    -webkit-transition-duration: 410ms;
            transition-duration: 410ms;
    -webkit-transform: translate3d(-540px, 0, 0);
            transform: translate3d(-540px, 0, 0);
  }

nav a i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


@media only screen and (max-width: 1222px) {
    header ul {
        visibility: hidden;
        opacity: 0;
    }
    .menu {
        visibility: visible;
        opacity: 1;
    }
}
@media only screen and (max-width: 830px) {
    #logo {
        visibility: hidden;
        opacity: 0;
    }
}